// ==========  Button   ========== //

.icon-button {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-button-width);
  height: var(--icon-button-height);
  overflow: hidden;
  padding: var(--icon-button-padding-y) var(--icon-button-padding-x);
  font-size: var(--icon-button-font-size);
  color: var(--icon-button-color);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background: var(--icon-button-background);
  border: none;
  border-radius: var(--icon-button-border-radius);
  outline: none;
  will-change: box-shadow, background;
  transition: background .4s cubic-bezier(.25, .8, .25, 1), color .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  fill: currentColor;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::before,
  &::after {
    position: absolute;
    top: calc(50% - 100%);
    left: calc(50% - 100%);
    width: 200%;
    height: 200%;
    pointer-events: none;
    content: " ";
    background-color: var(--icon-button-background-hover);
    border-radius: 50%;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
    will-change: opacity;
  }

  &::before {
    border-radius: var(--icon-button-border-radius);
    transition-duration: 300ms;
    transition-property: transform, opacity;
    transform: scale(0);
    will-change: transform, opacity;
  }

  &::after {
    transition-duration: 85ms;
  }

  &--active::before,
  &:hover::before,
  &:active::before,
  &:focus::before {
    opacity: .06;
    transform: none;
  }

  &:active::after {
    opacity: .06;
  }

  // Child
  &__icon {
    display: inline-block;
    width: var(--icon-button-font-size);
    height: var(--icon-button-font-size);
    margin: 0;
    font-size: var(--icon-button-font-size);
    color: inherit;
    vertical-align: top;
    pointer-events: none;
    user-select: none;

    &--on {
      display: none;
    }
  }

  &--dense {
    --icon-button-width: 32px;
    --icon-button-height: 32px;
    --icon-button-font-size: 18px;
  }

  &--on {
    .icon-button__icon {
      display: none;
    }
    .icon-button__icon--on {
      display: inline-block;
    }
  }

  &[disabled] {
    --icon-button-color: var(--color-app-disable);
    pointer-events: none;
    cursor: default;

    &::after,
    &::before {
      display: none;
    }
  }
}
